* {
    margin: 0px;
}

.nav {
    height: 50px;
    margin-left: 6px;
    border: 3px solid transparent;
}

.btn1 {
    height: 60px;
    width: 502px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    border-right: 0px;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.btns2 {
    height: 60px;
    width: 502px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.btns3 {
    height: 60px;
    width: 502px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    /* border-radius: 4px; */
    border-left: 0px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.col1 a,
.col2 a,
.col3 a {
    text-decoration: none;
}

.btns2 {
    background-color: white;
    border-radius: 4px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}

.main {
    height: 670px;
    width: 1500px;
    border: 3px solid;
    border-radius: 4px;
    border-top: 0px;
}

#user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 25px;
    padding-top: 40px;
    font-weight: normal;
}
/* ------------ styling of table ------------- */
.tableUser {
    /* height: 500px; */
    width: 1497px;
    border: 3px solid ;
    /* border-top: 2px solid; */
    margin: auto;
    margin-top: 20px;
    border-right: transparent;
    border-radius: 5px;
    
}

.tableUser td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    border-right: 3px solid black;
}


/* #td{
    border-right: none;

} */
tr:nth-child(odd) {
    background-color: rgb(236, 234, 234);
    height: 45px;
}

tr:nth-child(even) {
    height: 45px;
}
#editbtn,#delbtn{
    border: transparent;
    background: transparent;
    font-size: 18px;   
}

p{
    text-align: center;
}

thead{
    text-align: center;
}

td{
    text-align: center;
}
#row1{
    border: 2px solid black;
    background-color: rgb(175, 172, 172);
    font-weight: bold;
}

/* Styling for pop up */

.md {
    position: absolute;
    left: 40%;
    top: 50%;
    width: 300px;
    height: 200px;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
}

.md_head {
    box-sizing: border-box;
    text-align: center;
    border-bottom: 3px solid black;
    width: 300px;
}

h2 {
    /* display: inline-block; */
    /* text-align: center; */
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.xBtn {
    margin-left: 60px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
.xBtn:hover{
    background: rgb(244, 243, 243);
}

.md-body {
    display: inline-block
}

img {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    height: 55px;
    width: 55px;
    border-radius: 100px;

}

h3 {
    display: inline-block;
    margin-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.md-footer {
    margin-top: 25px;
}

.okBtn {
    margin-left: 30px;
    height: 30px;
    width: 90px;
    border: 2px solid blue;
    border-width: 3px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    font-size: 17px;
    /* font-weight: bold; */
}

.okBtn:hover {
    background-color: whitesmoke;
}

.canBtn {
    margin-left: 30px;
    height: 30px;
    width: 90px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    font-size: 17px;

}

.canBtn:hover {
    background-color: whitesmoke;
}