* {
    margin: 0px;
}

.nav {
    height: 50px;
    border: 3px solid transparent;
}

.btn1 {
    height: 60px;
    width: 510px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    border-right: 0px;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.btns2 {
    height: 60px;
    width: 510px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.btns3 {
    height: 60px;
    width: 510px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    /* border-radius: 4px; */
    border-left: 0px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.col1 a,
.col2 a,
.col3 a {
    text-decoration: none;
}

.btns2 {
    background-color: white;
    border-radius: 4px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}


.edit {
    height: 550px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

#editH1 {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------- styling for form label part ----------------*/
#editN {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: 10px;
}

#mail {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
    padding-top: 10px;
    margin-bottom: 10px;
}

/*----------------- styling for form input type part -----------------*/
#input1 {
    height: 30px;
    width: 230px;
    margin-top: 60px;
    margin-left: 37px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    border-radius: 8px;
}

#input2 {
    height: 30px;
    width: 230px;
    margin-top: 40px;
    margin-left: 37px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    border-radius: 8px;
}

/* ------------ button styling ----------- */

#saveBtn {
    height: 40px;
    width: 150px;
    color: black;
    background: aqua;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 230px;
    margin-top: 50px;
    border-radius: 8px;
    border: 3px solid;
    cursor: pointer;
}

a {
    text-decoration: none;
}