*{
    margin: 0px;
}
.nav{
    height: 50px;
    border: 3px solid transparent;
}
.btn1{
    height: 60px;
    width: 510px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    border-top-left-radius: 4px;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}
.btns{
    height: 60px;
    width: 510px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    /* border-radius: 4px; */
    border-left: 0px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}
.col1 a,.col2 a,.col3 a{
    text-decoration: none;
}

.div2{
    height: 200px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.div2 h1{
    font-size: 25px;
    text-align: center;
}
.div2 p{
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}