* {
    margin: 0px;
}

.nav {
    height: 50px;
    margin-left: 6px;
    border: 3px solid transparent;
}

.btn1 {
    height: 60px;
    width: 502px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    border-right: 0px;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.btns2 {
    height: 60px;
    width: 502px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.btns3 {
    height: 60px;
    width: 502px;
    float: left;
    padding-top: 5px;
    text-align: center;
    border: 3px solid;
    /* border-radius: 4px; */
    border-left: 0px solid;
    background: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.col1 a,
.col2 a,
.col3 a {
    text-decoration: none;
}

.btns2 {
    background-color: white;
    border-radius: 4px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}

.main {
    height: 670px;
    width: 1510px;
    border: 3px solid;
    border-radius: 4px;
    border-top: 0px;
}

#user {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 25px;
}

/* ------------ styling of table ------------- */
.tableUser {
    /* height: 500px; */
    width: 1500px;
    border: 3px solid ;
    border-radius: 8px;
    border-top: 2px solid;
    margin: auto;
    margin-top: 20px;
}

.tableUser td{
    border-right: 3px solid black;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#tr1{
    background: rgb(195, 194, 194);
}

/* .tableUser td:last-of-type {
    border-right: none;
} */

tr:nth-child(odd) {
    background-color: rgb(236, 234, 234);
    height: 34px;
}

tr:nth-child(even) {
    height: 34px;
}

.tdmail{
    text-align: center;
}

.tdname{
    padding-left: 5px;
    width: 600px;
}

.editbtn,.delbtn{
    border: transparent;
    background: transparent;
    font-size: 18px;   
}

p{
    text-align: center;
}

#img{
    height: 60px;
    width: 60px;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 100px;
}
.modal-backdrop {
    background-color: transparent;
 }

 .modal-div{
    height: 70px;
    width: 350px;
    margin: auto;
    padding-top: 40px;
 }
 .modal-div button{
    border: 2px solid;
 }

 .modalbtn1{
    width: 100px;
    border-radius: 8px;
    background: white;
    /* outline: blue; */
    margin-left: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
   
 }
 .modalbtn2{
    width: 140px;
    border-radius: 8px;
    background: white;
    margin-left: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .modal-body b{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 90px;
 }

 .modal-title{
    margin-left: 105px;
    font-size: 20px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
 }

 .modal-header{
    height: 42px;
 }


